footer.footer 
    .footer__inner 
        .footer__info 
            a.footer__logo(href="index.html")
                svg(class="logo")
                     use(xlink:href="img/svg/symbol/sprites.svg#logo-icon") 
            p.footer__info-text Быстро решим любой вопрос!Оправьте нам сообщение в Telegram
            a.btn-white.footer__info-btn(href='#') Открыть чат в Telegram
            .footer-socials 
                a(href="#" target="_blank")
                    svg(class="footer-socials__icon")
                        use(xlink:href="img/svg/symbol/sprites.svg#vk-icon")
                a(href="#" target="_blank")
                    svg(class="footer-socials__icon youtube")
                        use(xlink:href="img/svg/symbol/sprites.svg#you-tube-icon")
                a(href="#" target="_blank")
                    svg(class="footer-socials__icon tg")
                        use(xlink:href="img/svg/symbol/sprites.svg#tg-icon")

        nav.footer-nav 
            ul.footer-nav__list 
                li.footer-nav__list-item    
                    a(href='#') О компании
                li.footer-nav__list-item    
                    a(href='#') Новости
                li.footer-nav__list-item    
                    a(href='#') Документация
                li.footer-nav__list-item    
                    a(href='#') Загрузки
                li.footer-nav__list-item    
                    a(href='#') Цены
                li.footer-nav__list-item    
                    a(href='#') Контакты

        ul.footer__links
            li.footer__link
                a(href='#') Шунт-диодные барьеры
            li.footer__link
                a(href='#') Барьеры с гальванической развязкой
            li.footer__link
                a(href='#') Модули гальванической развязки
            li.footer__link
                a(href='#') УСО
            li.footer__link
                a(href='#') Искробезопасные блоки питания
            li.footer__link
                a(href='#') ВОЛС
            li.footer__link
                a(href='#') Блоки питания
            li.footer__link
                a(href='#') Объединительные модули
            li.footer__link
                a(href='#') Корпуса ЛПА-3
            li.footer__link
                a(href='#') Принадлежности

        .footer__contacts 
            .contact.footer__contact 
                p.contact__naming Санкт-Петербург
                a.contact__info(href='tel:+78124480897') 8 (812) 448-08-97
            .contact.footer__contact 
                p.contact__naming Москва
                a.contact__info(href='tel:+74952150947') 8 (495) 215-09-47
            .contact.footer__contact 
                a.contact__email(href='mailto:ba@lpadevice.ru') ba@lpadevice.ru
    .footer__details 
        a.footer__details-link(href='#') © 2021. OOO «ЛенПромАвтоматика»
        a.footer__details-link(href='#') Политика конфиденциальности
        a.madeby(href='#')
            | Разработано в 
            span Студии Грохотова
            span.red .