main.main

    h1.visually-hidden ЛенПромАвтоматика

    .main-slider.swiper-container 
        .swiper-wrapper.main-slider-wrapper 
            
            .main-slider__slide.swiper-slide
                .main-slider__content
                    h2.main-slider__title Разработка и производство барьеров искробезопасности и средств автоматизации
                    a.btn-black.main-slider__btn(href='#') Смотреть цены
                .main-slider__img-wrap 
                     picture
                        source(srcset="img/webp/main-slider-img1.webp" type="image/webp")
                        img.main-slider__img(src="img/main-slider-img1.jpg" alt="")

            
            .main-slider__slide.swiper-slide
                .main-slider__content
                    h2.main-slider__title Разработка и производство барьеров искробезопасности и средств автоматизации
                    a.btn-black.main-slider__btn(href='#') Смотреть цены
                .main-slider__img-wrap 
                     picture
                        source(srcset="img/webp/main-slider-img1.webp" type="image/webp")
                        img.main-slider__img(src="img/main-slider-img1.jpg" alt="")

            
            .main-slider__slide.swiper-slide
                .main-slider__content
                    h2.main-slider__title Разработка и производство барьеров искробезопасности и средств автоматизации
                    a.btn-black.main-slider__btn(href='#') Смотреть цены
                .main-slider__img-wrap 
                     picture
                        source(srcset="img/webp/main-slider-img1.webp" type="image/webp")
                        img.main-slider__img(src="img/main-slider-img1.jpg" alt="")

            
            .main-slider__slide.swiper-slide
                .main-slider__content
                    h2.main-slider__title Разработка и производство барьеров искробезопасности и средств автоматизации
                    a.btn-black.main-slider__btn(href='#') Смотреть цены
                .main-slider__img-wrap 
                     picture
                        source(srcset="img/webp/main-slider-img1.webp" type="image/webp")
                        img.main-slider__img(src="img/main-slider-img1.jpg" alt="")

        .swiper-pagination.main-slider__pagination 

    

    section.hardware
            .hardware__inner 

                .hardware__header

                    .hardware__header-info
                        h2.hardware__title Оборудование
                        p.hardware__description Барьеры искрозащиты (искробезопасности)
                    
                    a.btn-blue.hardware__download(href='#' download)
                        svg
                            use(xlink:href="img/svg/symbol/sprites.svg#download-arrow-icon")
                        | Скачать каталог продукции 
                    
                .hardware__content

                    .card.ex.hardware__card 
                        p.card__count 00
                        svg.card__icon 
                            use(xlink:href="img/svg/symbol/sprites.svg#card-icon1")
                        a.card__title(href="#") Шунт-диодные барьеры

                        ul.card__list 
                            li.card__list-item 
                                a(href="#") БИА-101
                            li.card__list-item 
                                a(href="#") БИА-102
                            li.card__list-item 
                                a(href="#") БИА-103
                            li.card__list-item 
                                a(href="#") ЛПА-131
                            li.card__list-item 
                                a(href="#") ЛПА-140, ЛПА-141
                            li.card__list-item 
                                a(href="#") ЛПА-142
                            li.card__list-item 
                                a(href="#") ЛПА-151 
                            li.card__list-item 
                                a(href="#") НБИ
                            li.card__list-item
                                a.more-link(href='#')
                                    | Вся продукция
                                    svg 
                                        use(xlink:href="img/svg/symbol/sprites.svg#more-icon")  
                            
                    .card.ex.hardware__card 
                        p.card__count 00
                        svg.card__icon 
                            use(xlink:href="img/svg/symbol/sprites.svg#card-icon2")
                        a.card__title(href="#") Барьеры с гальванической развязкой

                                        
                        ul.card__list 
                            li.card__list-item 
                                a(href="#") БИА-101
                            li.card__list-item 
                                a(href="#") БИА-102
                            li.card__list-item 
                                a(href="#") БИА-103
                            li.card__list-item 
                                a(href="#") ЛПА-131
                            li.card__list-item 
                                a(href="#") ЛПА-140, ЛПА-141
                            li.card__list-item 
                                a(href="#") ЛПА-142
                            li.card__list-item 
                                a(href="#") ЛПА-151 
                            li.card__list-item 
                                a(href="#") НБИ
                            li.card__list-item 
                                a.more-link(href='#')
                                    | Вся продукция
                                    svg 
                                        use(xlink:href="img/svg/symbol/sprites.svg#more-icon")  
                            

                    .card.hardware__card 
                        p.card__count 00
                        svg.card__icon  
                            use(xlink:href="img/svg/symbol/sprites.svg#card-icon2")
                        a.card__title(href="#") Модули гальванической развязки

                                        
                        ul.card__list 
                            li.card__list-item 
                                a(href="#") БИА-101
                            li.card__list-item 
                                a(href="#") БИА-102
                            li.card__list-item 
                                a(href="#") БИА-103
                            li.card__list-item 
                                a(href="#") ЛПА-131
                            li.card__list-item 
                                a(href="#") ЛПА-140, ЛПА-141
                            li.card__list-item 
                                a(href="#") ЛПА-142
                            li.card__list-item 
                                a(href="#") ЛПА-151 
                            li.card__list-item 
                                a(href="#") НБИ
                            li.card__list-item 
                                a.more-link(href='#')
                                    | Вся продукция
                                    svg 
                                        use(xlink:href="img/svg/symbol/sprites.svg#more-icon")  

                    .card.hardware__card 
                        p.card__count 00
                        svg.card__icon  
                            use(xlink:href="img/svg/symbol/sprites.svg#card-icon3")
                        a.card__title(href="#") Устройства связи с объектом

                                        
                        ul.card__list 
                            li.card__list-item 
                                a(href="#") БИА-101
                            li.card__list-item 
                                a(href="#") БИА-102
                            li.card__list-item 
                                a(href="#") БИА-103
                            li.card__list-item 
                                a(href="#") ЛПА-131
                            li.card__list-item 
                                a(href="#") ЛПА-140, ЛПА-141
                            li.card__list-item 
                                a(href="#") ЛПА-142
                            li.card__list-item 
                                a(href="#") ЛПА-151 
                            li.card__list-item 
                                a(href="#") НБИ
                            li.card__list-item 
                                a.more-link(href='#')
                                    | Вся продукция
                                    svg 
                                        use(xlink:href="img/svg/symbol/sprites.svg#more-icon")  
                            

                    .card.ex.hardware__card 
                        p.card__count 00
                        svg.card__icon  
                            use(xlink:href="img/svg/symbol/sprites.svg#card-icon4")
                        a.card__title(href="#") Искробезопасные блоки питания

                                        
                        ul.card__list 
                            li.card__list-item 
                                a(href="#") БИА-101
                            li.card__list-item 
                                a(href="#") БИА-102
                            li.card__list-item 
                                a(href="#") БИА-103
                            li.card__list-item 
                                a(href="#") ЛПА-131
                            li.card__list-item 
                                a(href="#") ЛПА-140, ЛПА-141
                            li.card__list-item 
                                a(href="#") ЛПА-142
                            li.card__list-item 
                                a(href="#") ЛПА-151 
                            li.card__list-item 
                                a(href="#") НБИ
                            li.card__list-item 
                                a.more-link(href='#')
                                    | Вся продукция
                                    svg 
                                        use(xlink:href="img/svg/symbol/sprites.svg#more-icon")  
                            

                    .card.hardware__card 
                        p.card__count 00
                        svg.card__icon  
                            use(xlink:href="img/svg/symbol/sprites.svg#card-icon5")
                        a.card__title(href="#") ВОЛС

                                        
                        ul.card__list 
                            li.card__list-item 
                                a(href="#") БИА-101
                            li.card__list-item 
                                a(href="#") БИА-102
                            li.card__list-item 
                                a(href="#") БИА-103
                            li.card__list-item 
                                a(href="#") ЛПА-131
                            li.card__list-item 
                                a(href="#") ЛПА-140, ЛПА-141
                            li.card__list-item 
                                a(href="#") ЛПА-142
                            li.card__list-item 
                                a(href="#") ЛПА-151 
                            li.card__list-item 
                                a(href="#") НБИ
                            li.card__list-item 
                                a.more-link(href='#')
                                    | Вся продукция
                                    svg 
                                        use(xlink:href="img/svg/symbol/sprites.svg#more-icon")  
                            

                    .card.hardware__card 
                        p.card__count 00
                        svg.card__icon  
                            use(xlink:href="img/svg/symbol/sprites.svg#card-icon4")
                        a.card__title(href="#") Блоки питания

                                        
                        ul.card__list 
                            li.card__list-item 
                                a(href="#") БИА-101
                            li.card__list-item 
                                a(href="#") БИА-102
                            li.card__list-item 
                                a(href="#") БИА-103
                            li.card__list-item 
                                a(href="#") ЛПА-131
                            li.card__list-item 
                                a(href="#") ЛПА-140, ЛПА-141
                            li.card__list-item 
                                a(href="#") ЛПА-142
                            li.card__list-item 
                                a(href="#") ЛПА-151 
                            li.card__list-item 
                                a(href="#") НБИ
                            li.card__list-item 
                                a.more-link.card__list-link(href='#')
                                    | Все изделия
                                    svg 
                                        use(xlink:href="img/svg/symbol/sprites.svg#more-icon")  
                            
                    
                    .hardware__more
                        a.more-link(href='#')
                            | Вся продукция
                            svg 
                                use(xlink:href="img/svg/symbol/sprites.svg#more-icon")  

    section.info
            .info__inner.appear-animation
                .info__assistance
                    h3.info__title С вами работают:

                    .assistant 
                        picture.assistant__img-wrap 
                            source(srcset="img/webp/worker1.webp" type="image/webp")
                            img.assistant__img(src = "img/worker1.jpg" alt="Менеджер по продажам")
                        h4.assistant__name Игорь Вадимович Зайцев 
                        p.assistant__spec менеджер по продажам
                        btn.btn-orange.assistant__btn Задать вопрос

                    .assistant 
                        picture.assistant__img-wrap 
                            source(srcset="img/webp/worker2.webp" type="image/webp")
                            img.assistant__img(src = "img/worker2.jpg" alt="Технический специалист")
                        h4.assistant__name Антон Владимирович Куваев 
                        p.assistant__spec технический специалист
                        btn.btn-orange.assistant__btn Задать вопрос

                    .assistant 
                        picture.assistant__img-wrap 
                            source(srcset="img/webp/worker3.webp" type="image/webp")
                            img.assistant__img(src = "img/worker3.jpg" alt="Исполнительный директор")
                        h4.assistant__name Глеб Олегович Кусакин
                        p.assistant__spec исполнительный директор
                        btn.btn-orange.assistant__btn Задать вопрос


                .contacts
                    h3.info__title Контакты:
                    .contacts__content 
                        .contacts__info 

                            .contact 
                                p.contact__naming Санкт-Петербург 
                                a.contact__info(href="tel:+78124480897") 8 (812) 448-08-97
                                
                            .contact 
                                p.contact__naming Москва 
                                a.contact__info(href="tel:+74952150947") 8 (495) 215-09-47  

                            .contact 
                                p.contact__naming Наш эл. адрес: 
                                a.contact__info(href="mailto:ba@lpadevice.ru") ba@lpadevice.ru

                            .contact 
                                p.contact__naming Время работы:
                                p.contact__info 10.00 - 17.00

                        .contacts__info 

                            .contact
                                p.contact__naming.contact__naming_mb30 Официальный дистрибьютор в Республике Беларусь:
                                p.contact__info «ГСМторгсервис»
                                a.contact__info(href="tel:+375293881537") +375 17 396-96-61
                                a.contact__info(href="tel:+375293881537") +375 29 388-15-37
                            .contact 
                                p.contact__naming Мы в социальных сетях:
                                .contact__socials 
                                    a.contact__info(href="" target="_blank") 
                                        svg 
                                            use(xlink:href="img/svg/symbol/sprites.svg#vk-icon")
                                    a.contact__info(href="" target="_blank") 
                                        svg 
                                            use(xlink:href="img/svg/symbol/sprites.svg#you-tube-icon")
                                    a.contact__info(href="" target="_blank") 
                                        svg 
                                            use(xlink:href="img/svg/symbol/sprites.svg#tg-icon")


            .popup 
                .popup__content 
                    .popup__slider.swiper-container 
                        .swiper-wrapper 
                        
                            .popup__slide.swiper-slide.assistant 
                                picture.assistant__img-wrap 
                                    source(srcset="img/webp/worker1.webp" type="image/webp")
                                    img.assistant__img(src = "img/worker1.jpg" alt="Менеджер по продажам")
                                h4.assistant__name Игорь Вадимович Зайцев 
                                p.assistant__spec менеджер по продажам
                        
                            .popup__slide.swiper-slide.assistant 
                                picture.assistant__img-wrap 
                                    source(srcset="img/webp/worker2.webp" type="image/webp")
                                    img.assistant__img(src = "img/worker2.jpg" alt="Технический специалист")
                                h4.assistant__name Антон Владимирович Куваев 
                                p.assistant__spec технический специалист
                        
                            .popup__slide.swiper-slide.assistant 
                                picture.assistant__img-wrap 
                                    source(srcset="img/webp/worker3.webp" type="image/webp")
                                    img.assistant__img(src = "img/worker3.jpg" alt="Исполнительный директор")
                                h4.assistant__name Глеб Олегович Кусакин
                                p.assistant__spec исполнительный директор
                        
                        .popup__next.swiper-button-next 
                        .popup__prev.swiper-button-prev

                    h3.popup__title Задать вопрос:
                    form.popup-form(action='#', method='POST', name='popupForm')
                        label.popup-form__label._req(for="name")
                            input#name(type="text" placeholder="Имя" name='name')
                        label.popup-form__label._req(for="email")
                            input#email(type="text" placeholder="E-mail" name='e_mail')
                        label.popup-form__label(for="phone")
                            input#phone(type="text" placeholder="Телефон" name='phone')
                        label.popup-form__label(for="text") Расскажите, что вас интересует:
                            textarea#text(name="text", cols="30", rows="7") 
                        label.check(for="checkbox")
                            input#checkbox.check__input(type="checkbox")
                            div.check__box
                                svg.check__box-icon 
                                    use(xlink:href="img/svg/symbol/sprites.svg#ok-icon")       
                            p.check__text
                                | Я согласен на обработку !{" "}
                                a.check__link(href='#') персональных данных
                        button.btn-blue.popup-form__btn(type="button") Отправить 
                    button.popup__close-btn 
                        svg
                            use(xlink:href="img/svg/symbol/sprites.svg#close-icon")

                        


