@font-face {
    font-family: "Roboto-lpa";
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-lpa";
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-lpa";
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Arial-lpa";
    src: url('../fonts/Arial.ttf');
    font-weight: 400;
    font-display: swap;
}